[2022-01-30 12:06] BatoolMM opened #1 "Add news section"
We need to add a news section to make announcements on the website!

[2022-01-30 12:07] BatoolMM opened #2 "Add a section for blog post"
We need to add a section for a blog posts (bilingual)!

[2022-01-30 12:07] BatoolMM opened #3 "Section for CoC"
We need to add a section for Code of Conduct

[2022-01-30 15:54] Balaji210 commented on #3
I have a good solution to this issue

[2022-02-01 08:54] BatoolMM opened #4 "Add a section for misconception of OS"
Add a section about misconception of OS - examples include:
- Open data/licensing
- Business Model/free

[2022-03-09 14:17] sagesharp opened #7 "Website error - internal server error"
Going to [https://osc-ksa.com/](https://osc-ksa.com/) currently results in an internal server error:

"Internal Server Error - Request ID: 01FXQGMZXVYWMC3SK4Y6QEH1P8"

[2022-03-09 14:22] BatoolMM commented on #7
Thank you for reporting this!
Interesting!  it works just fine for me, can you try this https://www.osc-ksa.com/? let me know if you get the same error!

[2022-03-09 14:31] BatoolMM commented on #7
Glad it works!

[2022-04-19 14:29] #7 closed

[2022-10-06 10:45] BatoolMM opened #12 "🎉 Outreachy Winter 2022: Applicants tasks/contributions: Improve the bilinguality and accessibility of website"
## 🎊 Welcome Outreachy 2022 Contributors! We're excited that you're here 🎉

Outreachy provides paid remote, three-month internships to support diversity in Free and Open Source Software (FOSS). For more information about what Outreachy is, follow [this link](https://www.outreachy.org/).

**Outreachy internships are:**

💵 Paid - $7,000 USD total internship stipend

🌍 Remote - both interns and mento

[2022-10-08 17:08] Teslimsama commented on #12
I'm a bit confused, I know the task but don't understand how to proceed

[2022-10-08 18:12] Khadeeejah commented on #12
hi, I am interested in contributing to this project, however the link to join the community is not working,
lastly where would the meeting be held

[2022-10-08 18:22] Teslimsama commented on #12
I have no idea of how things are going to work I'm just reading everything
before I start but I still don't know how to start 😂😂 . you are a
Nigerian ?

bolaji Teslim

On Sat, Oct 8, 2022, 7:12 PM KHADIJAH WURAOLA AMUSAT <
***@***.***> wrote:

[2022-10-08 18:46] Lydia02 commented on #12
Hello, I'm interested in the project, but I don't know how to go about it.
Lydia Ojoawo
Nigeria

[2022-10-08 18:49] Teslimsama commented on #12
Same here

bolaji Teslim

On Sat, Oct 8, 2022, 7:47 PM Ojoawo Lydia Subuola ***@***.***>
wrote:

[2022-10-08 19:11] BatoolMM commented on #12
Hi @Teslimsama @Lydia02 @Khadeeejah , thank you for your interest!
The link has been fixed!

The source code of the website is at the same repository:
https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA_Website

You will have to fork it and create a Pull Request. If you aren't sure about how to use GitHub, this is a video on YT:
https://www.youtube.com/watch?v=RGOj5yH7evk

Let me know if

[2022-10-08 21:32] sandygudie commented on #12
Hi Team, @BatoolMM , I am also happy to be contributing to this project.

[2022-10-08 21:54] timokonkwo opened #13 "Open access not leading to a youtube video"
Hi, I'm contributing to the OSCSA website as an outreachy intern and from the intern guideline, we are asked to click on any of the bullet points and it will redirect us to a youtube video,

However, I noticed that clicking the "Open Access" bullet point does not lead youtube but rather to the same page.

Thanks
![open access issue](https://user-images.githubusercontent.com/75533787/194729072-b832

[2022-10-08 22:38] sandygudie commented on #12
Hi @BatoolMM, a quick question here, do we create subpages for all the bullet points or pick a bullet point and add a subpage in a PR?

[2022-10-08 23:42] denscholar commented on #12
@BatoolMM A quick one, do I need to first register before I can start contributing to the project or I just preceded to fork the project?

[2022-10-09 04:09] angemaggy commented on #12
Hi, I will be happy to contribute on this project.

[2022-10-09 04:50] yokwejuste commented on #12
Hi here!

[2022-10-09 06:06] mutmainaho commented on #12
Hi, I'm Mutmainah
I would like to make  contribution to this project

[2022-10-09 07:23] Aman-Jamshed commented on #12
Hey @BatoolMM I'm Aman Jamshed and I'm an outreachy applicant. I found this project really interesting. Would like to contribute to this project.

[2022-10-09 07:51] BatoolMM commented on #12
Hi @Aman-Jamshed @mutmainaho @yokwejuste @angemaggy @denscholar @sandygudie!

Welcome to the OSCSA community, I added further details in the issue below to address your questions.

@sandygudie You only need to pick a single bullet point and add a subpage for the PR. @denscholar It's recommended that you fill in the form to join the community beforehand!

@angemaggy @yokwejuste I added further deta

[2022-10-09 08:50] MuhamamdShehzad commented on #12
Hi Everyone! My name is Muhammad Shehzad, as an Outreachy applicant, I would love to work for OSCSA.

[2022-10-09 09:03] timokonkwo commented on #12
Hello mentor @BatoolMM

I'm done with one of the sub pages but I saw someone has already picked it and filled in the Google doc.

Should I go ahead and submit the same?

[2022-10-09 09:35] ydv-sahitya opened #16 "Updating README.md"

[2022-10-09 10:36] BatoolMM commented on #12
Welcome @MuhamamdShehzad, feel free to follow the steps and submit a PR.
@timokonkwo No worries, go ahead and submit the same!

[2022-10-09 10:40] timokonkwo commented on #12
Thank you so much. I will submit the PR in a short time.

[2022-10-09 10:47] Khadeeejah commented on #12
Hi @BatoolMM some new instructions have been added to the readme, should I update my pr with the new changes, like the addition of the footer and few illustrations ?

[2022-10-09 11:00] Thesaleem commented on #12
Hi, I'm excited to contribute to this project. @BatoolMM

[2022-10-09 11:11] wajeehamushtaq opened #18 "UI Bug - Overlapping Image and div"
Hi, I am an Outreachy applicant and want to contribute to [OSCSA_Website](https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA_Website) so I started by creating  a new issue

**Issue Description:**
There is a responsiveness issue at 836px width as the image and div are overlapping.

<img width="678" alt="Screenshot 2022-10-09 at 4 06 32 PM" src="https://user-images.githubusercontent.com/55

[2022-10-09 11:22] BatoolMM commented on #12
@Khadeeejah, I added comments to your PR #14
@Teslimsama Looking forward to your contribution!

[2022-10-09 12:14] OsujiPius opened #19 "UI bug - Fix Funders image cut on mobile screens"
My name is Pius. I'm an Outreachy intern and I would be happy to be a part of this project.

As my first contribution I would fix a bug that is related to the responsiveness of the website
The Funders image not being completely visible on mobile screens

![Screenshot (138)](https://user-images.githubusercontent.com/94569961/194756171-9ef7d4f4-67a9-43ee-854a-941e205eef33.png)

[2022-10-09 12:20] ladyami commented on #12
Hello from outreachy,

My name is Amina Oyegoke from the northern part of Nigeria, I am a front-end developer with a background in Aviation. when searching for a project to make a contribution to on outreachy I was captivated by your project and I would love to be part of your amazing community and contribute to it. but when I was trying to join your community I came across this issue when filling

[2022-10-09 12:31] ydv-sahitya commented on #4
I am taking this. should i have to create another separate section? @BatoolMM  can you give me any example ?

[2022-10-09 12:33] ydv-sahitya commented on #13
I think they do no have youtube videos for that.

[2022-10-09 13:29] BatoolMM commented on #13
Yes, there's none linked but you can link to [this Video](https://www.youtube.com/watch?v=L5rVH1KGBCY) but add where is taken from in the subpage!

Let me know if you have more questions!

[2022-10-09 13:38] BatoolMM commented on #16
Thank you @ydv-sahitya for opening this issue!

[2022-10-09 13:39] BatoolMM commented on #18
Thank you for discovering this responsiveness issue @wajeehamushtaq , looking forward to see how you can fix it!

[2022-10-09 13:40] BatoolMM commented on #19
Thank you for discovering this responsiveness issue @OsujiPius , looking forward to see how you can fix it!

[2022-10-09 13:45] Mublin commented on #2
I have try adding the blog section and sent a pull request

[2022-10-09 13:49] Mublin commented on #12
Hello,
My name is Mubarak Muhammad, an intern from outreachy, interested in the project, I have submitted my pull request, please check it out

[2022-10-09 14:12] Mublin opened #24 "Navigation problem and added a blog section"
![Screenshot (6)](https://user-images.githubusercontent.com/102492190/194761386-5b2158bf-b2ae-4fff-8a04-9094ec0a7d0e.png)
![Screenshot (7)](https://user-images.githubusercontent.com/102492190/194761390-8987e63b-a04a-462a-8a44-5801a771312a.png)
![Screenshot (8)](https://user-images.githubusercontent.com/102492190/194761431-c5f87529-3b3d-403a-8f2f-c2a9793728d7.png)
First I noticed the notice the act

[2022-10-09 14:14] oluwatunbi commented on #12
Hello, @BatoolMM  I am an Outreachy intern that just passed the initial application. I will love to contribute to this project, How ever i don't understand what issues we are suppose to contribute to.

[2022-10-09 14:55] kuicpet commented on #12
hey everyone, I'm Kingsley, a Frontend Developer and an Outreachy applicant, I wish to contribute to this project, do I create issues to work on or are there already made issues I can pick to work on, thanks.

[2022-10-09 15:48] kuicpet opened #28 "UI bug"
Hi, @BatoolMM, I'm Kingsley, an Outreachy applicant, on checking the website, I discovered the Hero image on mobile screens wasn't well aligned, and the "Vision 2030" was almost cut out, I would love to work on this.
![Screenshot (176)](https://user-images.githubusercontent.com/49573266/194766308-bcb5caee-f24d-4c61-9f38-1813cd73948f.png)

[2022-10-09 16:08] BatoolMM opened #29 "Add a section about Open Collective in the website"
We use Open Collective to manage the fund of the community. This should be added to the website.
https://opencollective.com/oscsa

[2022-10-09 16:11] OsujiPius commented on #29
I will work on this @BatoolMM

[2022-10-09 16:17] timokonkwo commented on #12
HI mentor @BatoolMM @alswajiab

I just submitted one of the sub pages (Open source)

Also, can we work on issues not reported yet and create a PR for that?

[2022-10-09 17:49] jesutobi opened #33 "user experience"
@BatoolMM , my name is Jesutobi I am an Outreachy intern, I noticed that it would be difficult for users to know what grid they hover on when they are in between two grids..so I would like to contribute to this project by improving the user experience around this section
![oscsa](https://user-images.githubusercontent.com/43034407/194771743-f30c01d5-c531-427f-9d16-555753337f24.png)

[2022-10-09 17:57] RealRichi3 commented on #12
I think we have to create subpages for all the bullet points

[2022-10-09 18:01] RealRichi3 commented on #12
Hi everyone, I am Richie, I am looking forward to learning from everyone and making meaningful contributions to this project

[2022-10-09 19:06] timokonkwo opened #35 "Should I add new fixes to my PR waiting for review? - Outreachy intern"
Hi, I just fixed this issue #28 and also fixed other bugs I found.

Should I create a PR since I already submitted two sub pages awaiting reviews?

There are other issues I found on which I want to work on (E.g the screenshot below). Should I go ahead or wait for review of my other contributions?
![issue](https://user-images.githubusercontent.com/75533787/194774991-fcb179c7-5aa6-469e-9372-3ab48d5a

[2022-10-09 19:38] Thesaleem commented on #12
Hi @BatoolMM! I just submitted my PR for open hardware.

[2022-10-09 19:56] codeinvoke7 commented on #12
Hello @BatoolMM I have opened a pr on the project pls do review and give feedback

[2022-10-09 20:36] OsujiPius commented on #3
I will work on this

[2022-10-09 20:38] jesutobi opened #40 "Transalation"
hello @BatoolMM i discovered that when the text are translated to Arab that the footer text and the success notification that shows when one succesfully fills the contact form is translated to Arabic , so i would like to contibute on that also
![Uploading translate.png…]()

[2022-10-09 20:57] Mublin commented on #29
Going to work on it

[2022-10-09 20:59] OsujiPius commented on #29
@Mublin Already made a pull request for this man

[2022-10-09 21:01] OsujiPius commented on #29
I think you need to check if someone is already working on a task before you pick it up @Mublin

[2022-10-09 21:03] Mublin commented on #29
Dont worry I think teamwork is key, we are all learning, together we could make the design better. What do you think?

[2022-10-09 21:10] OsujiPius commented on #29
Don't think there is need for this particular task. If the mentors review and request a change I need help on. I will be sure to let you know though

[2022-10-09 21:15] Mublin commented on #29
Okay, all the best. Thank you for your time

[2022-10-09 21:43] Aman-Jamshed opened #41 "Error while submitting message through Contact Us form"
Hi, I am Aman Jamshed and I am also an Outreachy applicant and want to contribute to [OSCSA_Website](https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA_Website) as much as possible.

<b>Description of issue:</b>
I tried testing the Contact Us form while browsing the website, but I received an error when I submitted it.
 ```Error: 404 Not Found https://osc-ksa.com/forms/contact.php```

At

[2022-10-09 22:07] OsujiPius opened #42 "Broken Social links in footer"
The Social media icons link to https://osc-ksa.com/ instead of their respective social accounts @BatoolMM
[screen-capture (4).webm](https://user-images.githubusercontent.com/94569961/194781677-6236aa91-7a9c-4f04-a63c-cb749c5af75a.webm)

[2022-10-09 22:21] okerekechinweotito opened #43 "Create a subpage for OPEN ACCESS in Open-Science Page"
Create a sub-page for OPEN ACCESS as described in the OSCSA project description

![Screenshot (10)](https://user-images.githubusercontent.com/65835404/194782124-b19e18f5-2e9b-4d6d-9104-fcffac4f9236.png)

[2022-10-09 22:25] okerekechinweotito opened #44 "Integrate Live Chat to the website"
Integrate Live Chat into the website with tawk.to

![livechat](https://user-images.githubusercontent.com/65835404/194782274-cc8815cb-e62f-4359-9421-2986dc03fdbb.jpeg)

[2022-10-09 22:27] OsujiPius opened #45 "Redesign Footer"
The current footer is not UI friendly. This issue aims to fix that

[2022-10-09 22:29] okerekechinweotito opened #46 "Refactor / Rebuild Entire Codebase with React.js"
Proposal to rebuild the entire codebase using modern technologies such as React and Redux

[2022-10-09 22:29] okerekechinweotito opened #47 "Complete Redesign of the Footer component"
Total Redesign of the footer component

[2022-10-09 22:46] OsujiPius opened #48 "Complete redesign of Header"
Based on the recent trend of UI and UX. This issue will aim to improve the Header
![Screenshot (142)](https://user-images.githubusercontent.com/94569961/194782980-4bb636cc-0dbf-4bcf-952a-f8f00819bc3b.png)

[2022-10-09 22:51] okerekechinweotito opened #49 "Include OPEN-LEADERSHIP plus corresponding sub-page under Open Science Practices"

[2022-10-10 00:59] okerekechinweotito opened #52 "BUG: Ensure that all Navigation Links Redirect to a Blank Page and carry a rel="noopener noreferrer" tag"
I will update all navigation links to open in a blank page and also include necessary <a> tag flags for better user experience and additional security.

noopener is largely a security measure to prevent malicious links from gaining access to a user’s browser (a phishing attack known as [tabnabbing](https://www.elegantthemes.com/blog/wordpress/tabnapping-browser-hijacking)

Essentially, noreferrer

[2022-10-10 02:22] okerekechinweotito opened #54 "Refactor the UI and add more testimonials on UNESCO Recommendation section"
Refactor code and add more content and testimonials to the UNESCO Recommendation  on Open science Section

[2022-10-10 02:26] okerekechinweotito opened #55 "Add 'Meet the Team' Section"
Add a 'Meet the Team' section using the design below as a template.
![Screenshot (15)](https://user-images.githubusercontent.com/65835404/194791593-1b9202a1-9b6e-4ef5-9781-97e492da1ca5.png)

[2022-10-10 07:27] okerekechinweotito commented on #12
@BatoolMM The link to join the community is not working. Here is the link https://form.jotform.com/220362171812446

[2022-10-10 08:32] BatoolMM commented on #12
Welcome @MuhamamdShehzad @ladyami @Mublin @oluwatunbi @kuicpet @RealRichi3 @okerekechinweotito @codeinvoke7 to the community!

In order to address some of the questions:

- @ladyami Don't worry about the career stage, you can choose the 1st option. We don't use it in the assessment at all. It's only a for to know more about our members!
- @oluwatunbi Which part of the task isn't clear, so we can c

[2022-10-10 08:37] sandygudie commented on #12
@BatoolMM, quick question please, do we have to open an issue for every PR we make or we could go ahead to create a PR and state the issue you are solving?

[2022-10-10 08:38] okerekechinweotito opened #58 "Include OPEN DATA plus corresponding sub-page under Open Science Practices"

[2022-10-10 08:41] OsujiPius opened #60 "Incorporate Testimonial section to website"

[2022-10-10 08:42] Thesaleem commented on #12
Hi @BatoolMM I opened a PR for issue #36

[2022-10-10 08:49] BatoolMM commented on #12
@sandygudie It's recommended that you Open an issue for each PR and reference the issue in PR!

[2022-10-10 08:50] BatoolMM commented on #35
Please don't close the issue until the PR is merged!

[2022-10-10 08:54] OsujiPius commented on #29
Alright woking to add that sir

[2022-10-10 08:56] Mublin commented on #29
Let’s work together @OsujiPius 🙂

[2022-10-10 08:58] sandygudie opened #61 "Fix broken social link on footer"
The social media icons on the footer of the official OSCSA website have broken links.

![image](https://user-images.githubusercontent.com/54219127/194830917-baf68850-c6f7-4167-a6a2-8e465dd555a2.png)

[2022-10-10 09:06] sandygudie opened #63 "Missing favicon image on the OSCSA website"
The OSCSA website has a missing favicon image. This also shows the console as an error.
![image](https://user-images.githubusercontent.com/54219127/194759798-7b35faaa-61e9-475d-833e-ed3b9fb38476.png)

The OSCSA Logo should replace the favicon.

[2022-10-10 09:23] sandygudie commented on #61
Hi @OsujiPius i worked on this earlier and created a [PR](https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA_Website/pull/56), i just created the issue to reflect the PR.

[2022-10-10 09:51] RealRichi3 commented on #3
I would like to work on this issue @BatoolMM

[2022-10-10 09:52] timokonkwo opened #65 "No funders section in the Arabic version of the website"
Hi, I checked the Arabic version of the website and I found out that there is no funders section just as it was In the English version.

I will like to work on that

[2022-10-10 10:02] OsujiPius commented on #3
@RealRichi3  working on this already

[2022-10-10 10:04] timokonkwo opened #67 "Navbar not showing in the mobile view of the Arabic version"
**Hi, I noticed that the navbar doesn't show up in the mobile view of the Arabic version. I will like to work on that**

![bad navbar](https://user-images.githubusercontent.com/75533787/194842232-7ed72f71-29c4-4c68-a478-897113fc6d70.png)

[2022-10-10 10:15] timokonkwo opened #69 "Bad Logo UX"
Hi, @BatoolMM @alswajiab

I noticed the logo has a bad user experience and the sizing on mobile view is not so good.

I will like to fix that

Issue:
![logo bad](https://user-images.githubusercontent.com/75533787/194844132-4c5ea47d-536c-4d6a-9bf1-2a85beb672cd.png)

[2022-10-10 10:20] Mublin opened #71 "Blog section in the Arabic version"
Assalamu Alaikum @alswajiab @BatoolMM the website does not have a blog section in the arabic version

[2022-10-10 10:28] timokonkwo opened #72 "Website not complying with web accessibility standards"
Hi, mentors @alswajiab @BatoolMM

I noticed the OSCSA website is not complying to web accessibility standards.

I will like to make the website accessible to the visually Impaired and disabled citizens, etc

[2022-10-10 10:34] timokonkwo commented on #72
HI, @alswajiab @BatoolMM

I just fixed the this issue on #73

I will close it now

[2022-10-10 10:36] timokonkwo commented on #69
Issue has been fixed here #70

[2022-10-10 10:37] timokonkwo commented on #67
Issue has been fixed #68

Thank you my mentors @BatoolMM @alswajiab

[2022-10-10 10:38] timokonkwo commented on #65
Issue has been fixed at #66

Thanks @BatoolMM

[2022-10-10 10:43] BatoolMM commented on #12
Please make sure you read through the other issue and PRs before you open a new one. There are some duplications and work for the same issue!

Thank you again for your wonderful work!

[2022-10-10 10:51] timokonkwo commented on #12
@BatoolMM

I opened some issues and fixed them before I saw your comment now that we shouldn't close the issues unless it is merged.

I have reopened them again. I also referenced them in the PRs

Thanks

[2022-10-10 11:16] safa-ismail commented on #12
Hello everyone , my name is Safa. I am excited to contribute to this project and learn through it.

[2022-10-10 11:26] BatoolMM commented on #13
@timokonkwo do you want to work on this issue by adding a subpage for open access or do you want me to assign it to someone else?

[2022-10-10 11:32] ladyami opened #77 "No FAQ section"
some user would want to know a little info  the help FAQ section will help them out.

[2022-10-10 11:34] BatoolMM commented on #24
Thank you @Mublin for opening this issue. In the issue section, you have to report the problem that you are trying to fix and then open a PR to fix it and explaining what you did in the PR (not the issue). I think you tried to add the solution in the issue section, which isn't recommended. Please open one issue per problem and make sure it's not reported previously.

In terms of the blog section,

[2022-10-10 11:44] Mublin commented on #24
Thank you @BatoolMM  I will do just that.

[2022-10-10 11:45] ladyami commented on #12
Hello ma Good day @BatoolMM I open some issues and also make a PR #77  about it please review ma thank you.

[2022-10-10 11:46] Mublin opened #78 "Open Collective"
There is no open collective section in the Arabic version of the website.

[2022-10-10 12:13] BatoolMM commented on #78
We don't have this section on the website at all. It's being addressed in PR #39. The same PR should add texts in the Arabic and English versions. Please comment under the PR itself! Thank you @Mublin

[2022-10-10 12:14] BatoolMM commented on #41
Hi @Aman-Jamshed, feel free to open a PR to address this issue!

[2022-10-10 12:29] sandygudie opened #80 "Responsiveness issues on iPad view"
With regard to responsiveness, the iPad view on the OSCSA website is not properly aligned.
- The width of the `about-content` section is reduced on the Ipad view.
- Also, the funder images is cut off on the iPad view.

![image](https://user-images.githubusercontent.com/54219127/194865422-81b7cce3-877e-4844-bb33-c82d8be7ff84.png)
![image](https://user-images.githubusercontent.com/54219127/194866479

[2022-10-10 12:43] BatoolMM commented on #12
**Task 1** for adding a subpage for open science practices is completed, please move to either task 2 or task 3.

[2022-10-10 12:55] okerekechinweotito opened #83 "[10/10/2022]: [Add a drop-down for About us.]"
Task 2
Add a drop-down for About us. In the dropdown, we want to add

Who are we?
- This will direct you to the same about us page on the website
of Conduct

- This will direct you to a new subpage with [the code of conduct](https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/blob/main/CODE_OF_CONDUCT.md)

-Make sure it's reflected on both the Arabic and English pages.

[2022-10-10 13:02] BatoolMM commented on #83
Do you want to be assigned for this task @okerekechinweotito ?

[2022-10-10 13:06] okerekechinweotito commented on #83
@BatoolMM I would like to be assigned this Task. Thank you

[2022-10-10 13:07] BatoolMM commented on #44
Do you want to be assigned for it @okerekechinweotito?

[2022-10-10 13:11] Jolah1 commented on #83
Hello @BatoolMM
My name is Jolade, I am an Outreachy applicant, I will love to work on this issue.
thank you.

[2022-10-10 13:13] Jolah1 commented on #63
Hello @bebatut
My name is Jolade, I am an Outreachy applicant, I will love to be assigned this issue
thank you.

[2022-10-10 13:14] BatoolMM commented on #46
Do you want to be assigned to this task @okerekechinweotito?

[2022-10-10 13:16] BatoolMM commented on #47
Please add more details to your issue and use the issue template that we have. A similar issue is posted in #45

[2022-10-10 13:17] okerekechinweotito commented on #44
Yes @BatoolMM

[2022-10-10 13:17] BatoolMM commented on #49
Please add a description to the issue!

[2022-10-10 13:20] BatoolMM commented on #54
Thank you for your work but I am not sure what you are trying to do, can you add more description in the issue you open, please?

[2022-10-10 13:21] BatoolMM commented on #54
Thank you for your work but I am not sure what you are trying to do, can you add more description in the issue you open, please?

[2022-10-10 13:24] OsujiPius opened #84 "Create a Popup modal to display youtube videos for the Open Sciences section"
The is will create a popup modal to show the youtute videos for the Open Source, Open License, Open Hardware, Fair Principles, Open Education Resources and Open access under the Open Science Section instead of redirecting to youtube. It will improve assessibility and the overall experience for the user

[2022-10-10 13:24] BatoolMM commented on #55
We would like to prioritise other issue over this one!

[2022-10-10 13:24] OsujiPius commented on #84
@BatoolMM I will also be working on this

[2022-10-10 13:25] BatoolMM commented on #58
Please add a description - don't open a blank issue!

[2022-10-10 13:26] BatoolMM commented on #60
Please don't open a blank issue - You need to provide a description and how are you aiming to work on the issue!

[2022-10-10 13:28] Mublin commented on #83
working on it too

[2022-10-10 13:29] OsujiPius commented on #60
Sorry about that. I have updated the description

[2022-10-10 13:30] BatoolMM commented on #63
Hi @Jolah1, thank you for expressing interest, it seems that @sandygudie has already initiated a PR.
@Jolah1 We have a list of tasks in issue #12 - please feel free to chose from it!

[2022-10-10 13:35] BatoolMM commented on #77
Thank you for your suggestions @ladyami. Do you have FAQs in mind?

[2022-10-10 13:36] BatoolMM commented on #84
Can you add more description on how you are trying to work on that?

[2022-10-10 13:39] BatoolMM commented on #83
@okerekechinweotito Please use teh issue template which asks specifically about a description of the issue and weather you wants to be assigned to it!

@Jolah1 and @Mublin There are other task in issue #12 which you can work on it!

[2022-10-10 13:47] OsujiPius commented on #84
So currently when you click on Open License, Open Hardware e.tc. you are redirected to the youtube video on the youtube domain.
I will be creating a modal that will house the youtube videos so a user would not need to leave OSCSA website

I have attached a roughh example of the type of modal I mean. But ours for the will look bigger and much better

[screen-capture (6).webm](https://user-images.gi

[2022-10-10 13:54] OsujiPius opened #86 "Events Subpage"
This will add an events subpage where we can link our events in [Zenodo](https://zenodo.org/communities/1231231664/?page=1&size=20).

Will also three cards with each event, title, the name of the speaker, and language.
Each card should direct you to a subpage with a description of the event, speaker, language and a link to the slides from Zenodo
it will  reflected on both the Arabic and English pa

[2022-10-10 13:58] Mublin opened #87 "Working on task 3 adding events in Zenodo"
Adding an events subpage where we can link our events in Zenodo

Add this to the nav bar
Add three cards with each event, title, the name of the speaker, and language.
I need more explanations

[2022-10-10 13:59] Khadeeejah commented on #12
hi @BatoolMM can you assign task 2 to me

[2022-10-10 14:01] okerekechinweotito opened #88 "[Performance , SEO and webPage Indexing Bug fix]"
### Description

❔ The description content of the meta tag on Index.html is empty. The 'alt' attribute of most img tags are also empty. These constitute a huge SEO and accessibility problem and would prevent Google Search Engine crawlers from properly indexing the site

### Expected behavior

✅ The Meta tag  description attribute should be properly filled  with relevant information
✅  The img tags

[2022-10-10 14:04] Khadeeejah opened #89 "Add a drop-down for About us."
Task 2
 In the dropdown, we want to add

Who are we?
This will direct you to the same about us page on the website
Code of Conduct
This will direct you to a new subpage with [the code of conduct](https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/blob/main/CODE_OF_CONDUCT.md)
Make sure it's reflected on both the Arabic and English pages.

[2022-10-10 14:04] Khadeeejah commented on #89
@BatoolMM can you assign this to me and also add the outreachy label.
thank you

[2022-10-10 14:05] okerekechinweotito commented on #89
@Khadeeejah @BatoolMM   This issue has already been assigned to me

[2022-10-10 14:05] okerekechinweotito commented on #89
.. at #83

[2022-10-10 14:09] Thesaleem commented on #12
Hi @BatoolMM  Can I work on task 2?

[2022-10-10 14:34] okerekechinweotito commented on #83
@BatoolMM  I have updated the issue inline with the issue-template. Please review it and let me know if you would like any changes.

[2022-10-10 14:42] ladyami commented on #88
Hello Good Day are you working on the issue?
I am also working on this same Issue let me know so I can work on something else

[2022-10-10 14:56] okerekechinweotito commented on #58
@BatoolMM  I have updated this issues description to match the template

[2022-10-10 14:59] okerekechinweotito commented on #88
@ladyami  This issue has been worked on.  Refer to the PR link. Thanks

[2022-10-10 15:28] ladyami opened #93 "website content"
The Admin need to have 100% control of the website content
Developer can be too stressful to notice a typo  E.g ( among the issue create someone fix a typo error )
or sometime they use dummy text since they are not website content writer
or sometime some info are outdated on the website that need to be updated
 if  Admin  have 100% control of the website content they can change it without the need

[2022-10-10 15:42] okerekechinweotito commented on #49
@BatoolMM Description added

[2022-10-10 15:44] okerekechinweotito commented on #47
@BatoolMM  I would like to close this issue as I will not be working on it. It is a duplicate

[2022-10-10 15:45] okerekechinweotito commented on #43
@BatoolMM  This issue is a duplicate. Pls it can be closed or ignored

[2022-10-10 17:06] ladyami commented on #12
Hello ma @BatoolMM  I have started working on task 3 and i when I was working on SEO  I realize a issue have been open for it before so I want to ask if you have not assign task 3 to anyone?

[2022-10-10 17:09] ladyami opened #96 "Working on Task 3"
I created this issue to notify that i have started working on task 3 thank you.

[2022-10-10 17:36] Mublin commented on #96
@ladyami i am already working on that

[2022-10-10 17:49] MuhamamdShehzad opened #97 "Revamp of Services Section: Added all the required web-pages for the given links of Open Science."
Corresponding PR available at #74
## Description:
The Services Section was directing the links to the youtube which is not the best practise.

[2022-10-10 19:05] okerekechinweotito commented on #12
@Thesaleem @Khadeeejah @BatoolMM

I have already made a PR for Task 2.  Task 2 has been worked on and is complete

[2022-10-10 19:52] amiinarabiu commented on #12
@BatoolMM
Hi, I am Amina.

I am excited to contribute to this project. I have commenced and I am unclear about a few rules.

Can I update my pr now or wait till I finish the entire task

[2022-10-10 20:59] ladyami commented on #96
@Mublin did you create issue about it ( have check before I started I did not see any issue about ) or @BatoolMM  assign the task to you? i was also working on the website SEO but when i notice a issue have open about it i have to drop it.

[2022-10-10 21:10] mildrette commented on #42
I have fix those an open a PR. i added a hover effect to the icons so one will know they are clickable

[2022-10-10 21:22] mildrette opened #104 "working on adding a subpage for OPEN HARDWARE"
I am already working on adding sub page to open hardware so that when the link is click it takes you to a sub page.

[2022-10-10 21:37] okerekechinweotito commented on #54
@BatoolMM   This issue is already been addressed by someone else in #60
I will no longer work on this issue. Pls mark as duplicate ignore this issue

[2022-10-11 00:38] oEbuka opened #106 "Refractor code to improve the UI of the site in mobile view"
Refractor code to improve the UI of the site in mobile view i.e. Responsiveness

#### Actual behaviour

- [ ] *UNESCO icon too large(mobile view)*
- [ ] *margin of the Open science practices points, too small for mobile view*
- [ ] *funders section*
- [ ] *OSCSA icon too large*

I will like to handle these @BatoolMM

![outreachy5](https://user-images.githubusercontent.com/94439139/194970679-e801a6

[2022-10-11 02:49] chinaza-Sommie commented on #12
goodday @BatoolMM please i would like to work on this

[2022-10-11 06:10] BatoolMM commented on #104
Thank you @mildrette for your work, there's an open PR #36 - We'll add more tasks today!

Looking forward to your contributions!

[2022-10-11 06:42] BatoolMM commented on #12
Welcome @amiinarabiu and @chinaza-Sommie to the OSCSA community!

We will be adding more tasks today for individuals who didn't have a chance yet!
For any tasks (if there's no issue opened), please open a new issue using the **template** we have for outreachy. Any issue needs to provide a **summary** of the problem/feature you are trying to work on. Please make sure that there are **no similar** i

[2022-10-11 06:57] Teslimsama opened #110 "the funders image"
the images on the funders section

[2022-10-11 07:07] BatoolMM commented on #110
Hi @Teslimsama, please use the issue template when you submit a new issue. There's no description about the issue and what you are trying to fix. Also, there are multiple issue working on images on the funders section!

[2022-10-11 07:36] ladyami commented on #96
@Mublin  I am sorry I just recheck I didn't see it before you can continue working on it I will drop it best of luck.

[2022-10-11 07:37] Teslimsama commented on #12
The source code of the website is at the same repository:
https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA_Website

You will have to fork it and create a Pull Request. If you aren't sure
about how to use GitHub, this is a video on YT:
https://www.youtube.com/watch?v=RGOj5yH7evk

Let me know if you have any questions!

Batool

Batool Almarzouq (Ph.D.)
University of Liverpool
Institute o

[2022-10-11 07:51] BatoolMM commented on #54
Thank you @okerekechinweotito!

[2022-10-11 07:51] #54 closed

[2022-10-11 08:38] MiriamXunday commented on #12
Hello all and @BatoolMM  I'm a Nigerian and I hope to contribute to OSCSA by using web development and organizational skills

[2022-10-11 08:41] victorvictoria-maker commented on #12
Hello everyone and @BatoolMM
I am interested in contributing to the OSCSA project. I would be glad if a task is assigned to me.
Victoria Victor, Outreachy applicant.

[2022-10-11 09:48] muneebulrehman commented on #12
Hi @BatoolMM, I am an outreach applicant. I had a look at the issues page but found all the tasks under the Outreachy tag are being worked on. I would love to contribute to the OSCSA project but don't know how to proceed in this case. Can you please guide me on this?

[2022-10-11 10:06] muneebulrehman commented on #52
Hey @BatoolMM, I am an Outreachy applicant and would love to work on this issue. Can you assign this task to me?

[2022-10-11 10:07] MiriamXunday commented on #12
Hello @BatoolMM, can I still submit a PR for task #112 dropdown component

[2022-10-11 10:09] okerekechinweotito commented on #12
@MiriamXunday That issue has already been addressed and completed

[2022-10-11 10:33] Aman-Jamshed commented on #41
Okay...working on it! :)

[2022-10-11 10:50] muneebulrehman commented on #12
Hey @BatoolMM, I am an Outreachy applicant and would love to contribute to this Open source project. Can you assign me a task?

[2022-10-11 11:06] BatoolMM commented on #47
You can close any duplicate issue @okerekechinweotito by clicking on "close with comment". Please close any duplicate issue you have!

[2022-10-11 11:06] #47 closed

[2022-10-11 11:08] BatoolMM commented on #55
I will close it for now, and you can open it later!

[2022-10-11 11:10] BatoolMM commented on #61
I will close this issue now, feel free to open it later!

[2022-10-11 11:10] #61 closed

[2022-10-11 11:11] RealRichi3 opened #114 "[11-10-2022]: Add subpage for open license"
#### Description
Subpage on brief explanation on what Open license entails

#### Expected behaviour

- [ ] *Clicking the open license pane on the home page should direct to another page showing a brief on what Open license is*

### What needs to be done?

- [ ] *Add brief summary about what open license is*
- [ ] *Add image illustration explaining more on open license*
- [ ] *Reference links to re

[2022-10-11 11:12] BatoolMM commented on #61
Please make sure you create the issue before the PR and provide elaborate descriptions using the template for both the issue and PR!

[2022-10-11 11:14] BatoolMM commented on #42
Thank you @OsujiPius, this was fixed in PR #56.

[2022-10-11 11:14] #42 closed

[2022-10-11 11:15] Kemmie001 commented on #12
Hello @BatoolMM i am Oluwakemi an outreachy applicant I want to contribute to this project and I noticed there are quite a number of issues but almost everything has some working on them. I don’t know where to go from here. I will appreciate any form of help. Thank you.

[2022-10-11 11:21] BatoolMM commented on #63
This was fixed in #25.

[2022-10-11 11:21] #63 closed

[2022-10-11 11:22] BatoolMM commented on #71
The Blog use Quarto and we will open an issue to address this!

[2022-10-11 11:22] #71 closed

[2022-10-11 11:25] iLynette commented on #106
Hi @oEbuka can I be assigned to this one?

[2022-10-11 11:26] BatoolMM commented on #114
Thank you @RealRichi3 - This is one of the best-outlined issues opened so far with a clear title and description.

However, it was addressed in PR #62 - We will add new tasks today which you can work on it!

I will close this for now, but feel free to open it later!

[2022-10-11 11:26] #114 closed

[2022-10-11 11:31] BatoolMM commented on #106
Hi @oEbuka and @iLynette , thank you for your interest in improving the website!

Some of these issues are duplicates in issues #18, #19, #20, #28. Feel free to open a new issue while removing the duplicate and have a clear title and description similar using our issue template!

[2022-10-11 11:31] #106 closed

[2022-10-11 11:32] BatoolMM commented on #110
Issues with responsiveness are mentioned in issue  #18, #19, #20, #28. Feel free to open a new issue while removing the duplicate and have a clear title and description similar using our issue template!

[2022-10-11 11:32] #110 closed

[2022-10-11 11:33] BatoolMM commented on #80
Similar issue with responsiveness are mentioned in #18, #19, #20, #28. Make sure this doesn't overlap with it!

[2022-10-11 11:34] BatoolMM commented on #69
Similar issue for responsiveness are mentioned in #18, #19, #20, #28. Feel free to open a new issue while removing the duplicate and have a clear title and description similar using our issue template!

[2022-10-11 11:35] BatoolMM commented on #104
I will close this for now but feel free to repent it later!

[2022-10-11 11:35] #104 closed

[2022-10-11 11:38] BatoolMM commented on #86
Thank you @OsujiPius - an issue has been opened in #87

[2022-10-11 11:38] #86 closed

[2022-10-11 11:38] Mublin commented on #71
Ok Ma @BatoolMM @alswajiab I will be waiting, please assign me to the task so we can add the blog dynamically, شكرلك

[2022-10-11 11:40] BatoolMM commented on #96
Thank you @ladyami for your hard work and for kindly discussing this issue!

If you opened a duplicate issue, please close it!

[2022-10-11 11:40] #96 closed

[2022-10-11 11:42] BatoolMM commented on #89
@Khadeeejah If you opened a duplicated issue, please close it, thank you!

[2022-10-11 11:42] #89 closed

[2022-10-11 11:48] iLynette opened #116 "[11-10-2022]: Overflow of images in the funders' section"
<img width="316" alt="Screen Shot 2022-10-11 at 2 40 31 PM" src="https://user-images.githubusercontent.com/42867002/195080765-f3eeb911-7e16-4a8e-8c35-3da672b992b0.png">

### There is still an overflow in smaller screens in the funder's section. Ideally, this should be positioned in a column but since they are images, I can make them smaller without losing the quality of the images.

### I will wor

[2022-10-11 11:49] ladyami commented on #96
okay ma I will close it Immediately

[2022-10-11 11:52] sandygudie commented on #80
I noticed that most of the responsiveness issues raised are in regard to smaller screens such as phone screens.  The issue fixes responsiveness on Ipad and medium size screens bigger than phones but smaller than desktop screens.

[2022-10-11 12:29] RealRichi3 commented on #114
Alright @BatoolMM, thanks for your review

[2022-10-11 12:43] RealRichi3 commented on #114
Already made a PR though, but it's alright, thanks

[2022-10-11 12:44] ladyami opened #118 "[DATE]: QUESTION or ISSUE"
#### Description
Open Science Community would like to develop Massive Open Online Courses (MOOCs)

#### Expected behaviour

- [ ] I plan to first outline All the functions of the website  *
- [ ] *then build an API with Nodejs which can be called with a front-end language*

#### Actual behaviour
No Actual behaviour

### What needs to be done?

- [ ] *outline the website functionality.*
- [ ] *buil

[2022-10-11 12:51] ladyami opened #119 "10/11/2022 Open Science Community would like to develop Massive Open Online Courses (MOOCs),"
#### Description
Open Science Community would like to develop Massive Open Online Courses (MOOCs),

#### Expected behaviour
we need to develop a platform where a participant can log in, and view videos and written materials as lessons. This will be similar to [Udemy](https://www.udemy.com/) and other platforms for MOOCs.

#### Actual behaviour
No actual behaviour yet

### What needs to be done?

-

[2022-10-11 12:51] #118 closed

[2022-10-11 13:12] angemaggy commented on #119
@ladyami  I can work on it.

[2022-10-11 13:16] queeniva commented on #12
soo excited to start contributing, I just started task 3, and will soon be opening a pull request

[2022-10-11 13:18] angemaggy commented on #119
ooh sorry you wanted that task to be assigned to you. I thought you were looking somebody to work on it.

[2022-10-11 13:26] ladyami commented on #119
okay no problem another task will soon be open according to the admin you can work on it

[2022-10-11 13:32] #46 closed

[2022-10-11 13:33] #43 closed

[2022-10-11 13:44] angemaggy opened #120 "11/10/2021: Refactor the code architecture."
The actual site structure is really bad and the code is not reusable. I suggest to use `php` or another backend language of your choice to make some reusable layouts(templates) in order to well organised the architecture of the code. I could easily integrate the translation file with multiple languages (en, arabic, ...) to avoid using a new file each time we want to implement a page.
![current_arc

[2022-10-11 13:48] angemaggy commented on #120
@BatoolMM what do you think about it ?

[2022-10-11 14:00] angemaggy opened #121 "Take a survey button is directed to an `unavailable form`"
![survey](https://user-images.githubusercontent.com/100047512/195111197-650e929d-b3db-49de-82f1-39633e6979a9.png)
when we click on `take a survey`, we are redirected here:
![unavailable-form](https://user-images.githubusercontent.com/100047512/195111725-96d4ab75-2d37-4c3c-b4a8-3b06fd31e1d8.png)

If it is a bug, I am available to fix it.

[2022-10-11 14:48] oEbuka opened #122 "[11/10/22]: Refractor code to improve the UI of the site plus added functionalities for better UX(Mobile view)."
### Summary
First,  the OSCSA logo on the nav bar is too large with respect to the size of the nav bar itself. Second, the padding of the body contents is inadequate. Lastly, the images in the funders section are not well aligned.

Note: all these apply for mobile view.

### What needs to be done?
- [x] Reduce the size of the OSCSA logo.
- [x] Increase the padding of the Open Science Practices sec

[2022-10-11 15:19] BatoolMM commented on #12
Welcome, @MiriamXunday @queeniva @victorvictoria-maker @Kemmie001 @queeniva to OSCSA Community!

We have added three more tasks, two of which can be attempted by more than one individual. If you happened and opened a duplicated issue or PR for tasks 1, 2 or 3, please close it.

Also, we ask everyone to work collaboratively and provide opportunities for new participants who didn't have a chance to

[2022-10-11 15:27] Mublin commented on #12
@BatoolMM Can I work on project 6? A bit challenging

[2022-10-11 15:38] Thesaleem commented on #12
@Mublin Have you made a previous contribution? let's work together on it?

[2022-10-11 15:42] Mublin commented on #12
Yes I have work on something @Thesaleem but we can still collaborate and work on the issue, report that you and me are going to collaborate and work on the issue, if there’s another person we add him too, let’s go sir

[2022-10-11 15:55] Thesaleem commented on #12
@mutmainaho are you up?

I’m good to go sir. @Mublin

[2022-10-11 15:59] Mublin commented on #12
Create the new issue let’s work on it make sure you mention all the people contributing

[2022-10-11 16:00] mutmainaho commented on #12
@Thesaleem and @Mublin I’m up for the task

[2022-10-11 16:05] Mublin commented on #12
https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA-en-blog/issues/new/choose Click on the link to create the issue, mention the task and description our names should be mentioned

[2022-10-11 16:33] Mublin commented on #12
@sandygudie just select a task you are interested in, create new issue and notify people you have taken the task and it’s open for collaboration 😁

[2022-10-11 16:36] Teslimsama commented on #12
Yeah up for it

[2022-10-11 16:45] Teslimsama commented on #12
Yes

[2022-10-11 16:59] sandygudie commented on #12
Alright @Teslimsama  i will create an issue for it

[2022-10-11 17:03] safa-ismail commented on #12
Hi @sandygudie  , Safa here it is my first time contributing in a task.May i know which task are you planning to do ?

[2022-10-11 17:11] sandygudie commented on #12
Sure @Teslimsama  i will tag you to the issue

[2022-10-11 17:23] safa-ismail commented on #12
Can I join you guys in this task

[2022-10-11 17:26] Kemmie001 commented on #12
@sandygudie I am a frontend developer with some experience building an elearning platform I want to join you people in collaborating on Task 4

[2022-10-11 17:51] sandygudie commented on #12
Hi Team, You can join me for discussion and collaboration  on task 4  here [ Issue  ](https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/2)

[2022-10-11 22:46] jesutobi opened #125 "[10/11/22]: creating a Contribution.md file"
@BatoolMM i would be creating  the contribution.md file which would help contributors have a short guide on how to contribute to the OSCSA project .

<--------what i would be doing----->
i would be creating a contribution.md file

[2022-10-12 02:30] ORIYOMI289 commented on #12
so guys where do we communicate aside from github ?

[2022-10-12 04:46] AminMusah commented on #77
@ladyami @BatoolMM i do have some FAQs in mind, can i work on it?

[2022-10-12 05:21] AminMusah opened #126 "Create a page to display fair principles youtube video for the Open Science practice"
So rather than directing the user to Youtube directly, the user will be directed to a new page in the website that has the video embedded and a summary about fair principles, whiles maintaining the same header, footer and other colours and design from the original website.

[2022-10-12 05:56] sandygudie commented on #12
You are welcome to join, your insight would be appreciated, we are having a discussion here  https://github.com/Open-Science-Community-Saudi-Arabia/MOOCs/issues/2

[2022-10-12 07:34] ladyami commented on #77
yes @AminMusah I have code the FAQ Just  the questions and answer to fill it

[2022-10-12 07:43] Jolah1 commented on #126
Hello, I am an outreachy applicant, please i will like to be assigned this issue
thank you

[2022-10-12 08:43] Teslimsama commented on #28
Has this been done ?

[2022-10-12 09:17] Njong392 commented on #121
Hello, is it okay if I am assigned to this?

[2022-10-12 09:28] AminMusah commented on #126
@BatoolMM i would like to be assigned to this task. thank you.

[2022-10-12 09:30] AminMusah commented on #77
sure i have the question and answer to fill it, i can help you with that.

[2022-10-12 09:49] AminMusah commented on #13
@BatoolMM  as an outreachy intern i would like to work on this task. thank you.

[2022-10-12 09:50] ladyami commented on #12
Hello Good day ma @BatoolMM up till now we are unable to join the public chat group.

[2022-10-12 11:21] RealRichi3 commented on #52
I would like to take this issue

[2022-10-12 11:22] okerekechinweotito commented on #52
@RealRichi3  This issue has already been done. Kindly see the linked PR above

[2022-10-12 11:28] RealRichi3 commented on #52
Oh alright then

[2022-10-12 11:39] RealRichi3 opened #129 "[BUG] Quick contact form returns 405 error code"
* When submitting the quick contact form it shows a 405 HTTP  error code.

#

![image](https://user-images.githubusercontent.com/76791916/195332926-10182fa5-1a14-41d5-834f-494b0bf7ec93.png)

### Expected behaviour

I expected it to display a prompt successful, or return status code 200

### Actual behaviour

Returns `Error: 404 https://osc-ksa.com/forms/contact.php`

### How to reproduce

Dell lat

[2022-10-12 11:51] RealRichi3 opened #130 "[BUG] Insecure email sending for quick contact form"
### Description

In [quick-contact-form-handler](https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA_Website/blob/main/forms/contact.php) line 26-34. The proposed code to handle sending email after submitting quick contact form is not secure. It can expose the SMTP username and password.

### Expected behaviour

Sensitive credentials for sending emails should be handled from a backend API

[2022-10-12 11:52] RealRichi3 commented on #130
I would like to take this issue and create the backend API

[2022-10-12 12:22] AminMusah opened #131 "[DATE]:Create a page to display OPEN EDUCATIONAL RESOURCES youtube video for the Open Science practice"
Rather than directing the user to Youtube directly, the user will be directed to a new page in the website that has the video embedded and a summary about fair principles, whiles maintaining the same header, footer and other colours and design from the original website.
@alswajiab i would like to be assigned to this task, thank you.

[2022-10-12 12:53] Jolah1 opened #132 "Dead website link on README file"
Dead website Link on README file

###Description
Link to the website on README file is an old and broken link deployed with Netlify.

#### Expected behaviour
Link should open OSCSA website

#### Actual behaviour
Showing error 404

### How to reproduce
 steps that a user would take to experience this bug.
1. Go to 'README.md'
2. Click on 'here' link
3. See error 404

- OS:
* Windows 10

![Screensho

[2022-10-12 12:55] mildrette commented on #132
please can I be assigned to this? please

[2022-10-12 14:24] BatoolMM opened #134 "[12-10-2022]: Test for new CI"
#### Which task do you want to work on?
Test for new CI

- [ ] *Task 1*
- [ ] *Task 2*
- [ ] *Task 3*
- [ ] *Task 4*
- [ ] *Task 5*
- [ ] *Task 6*
- [ ] *Unlisted Task*

#### Expected behaviour

- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*
- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*

#### Actual behaviour

- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*
-

[2022-10-12 14:29] BatoolMM commented on #134
The test didn't work, we 'll open a new issue

[2022-10-12 14:29] #134 closed

[2022-10-12 14:29] BatoolMM opened #135 "[12-10-2022]: Test for new CI"
#### Which task do you want to work on?
Test for new CI

Test for new CI

- [ ] *Task 1*
- [ ] *Task 2*
- [ ] *Task 3*
- [ ] *Task 4*
- [ ] *Task 5*
- [ ] *Task 6*
- [ ] *Unlisted Task*

#### Expected behaviour

- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*
- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*

#### Actual behaviour

- [ ] *Lorem ipsum dolor sit amet, consectet

[2022-10-12 14:32] BatoolMM commented on #135
The CI worked!

[2022-10-12 14:32] #135 closed

[2022-10-12 14:35] BatoolMM opened #136 "[12-10-2022]: Test CI"
#### Which task do you want to work on?
Test CI

- [ ] *Task 1*
- [ ] *Task 2*
- [ ] *Task 3*
- [ ] *Task 4*
- [ ] *Task 5*
- [ ] *Task 6*
- [ ] *Unlisted Task*

#### Expected behaviour

- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*
- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*

#### Actual behaviour

- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*
- [ ] *Lo

[2022-10-12 14:37] BatoolMM commented on #136
The test is working, so we'll close it

[2022-10-12 14:37] #136 closed

[2022-10-12 16:19] Jolah1 opened #138 "Wrong word in the expression "installing values""
A wrong word was used in the about section of the landing page.

#### Which task do you want to work on?
change "Installing values" to "Instilling values"

#### Expected behaviour
"Instilling values"

#### Actual behaviour
"Installing values"

### What needs to be done?
Research for the right word: https://www.google.com/search?q=Installing+values&oq=Installing+values&aqs=chrome..69i57j0i271l3j69i

[2022-10-12 16:20] Jolah1 commented on #138
working on this......Thank you

[2022-10-12 16:28] Jolah1 commented on #138
Issue #139 fixed, awaiting your review @BatoolMM

[2022-10-12 16:48] Jolah1 opened #140 "Punctuation error on the landing page (footer section)"
#### Which task do you want to work on?
Punctuation error on the landing page (Footer section)

#### Expected behaviour
"completing one minute survey!"

#### Actual behaviour
"completing one minute survey. !"

### What needs to be done?
Remove the full stop and leave only the exclamation mark.

### Who want to work on this issue?
Jolade (Outreachy Applicant)

![photo_2022-10-12_15-36-44](https://u

[2022-10-12 17:04] Jolah1 commented on #140
Issue fixed @BatoolMM , awaiting your review
Thank you.

[2022-10-12 17:20] kuicpet commented on #28
am working on this already @Teslimsama

[2022-10-12 18:34] anslemkelechi opened #142 "[BUG] - Critical Web Performance & SEO Issues."
-  *Using Lighthouse which is one of Chrome's dev-tools, I discovered that the SEO and Web performance rating for the website is very low, which can affect user experience significantly. I attached the previous web stats from the lighthouse and the current stats after my changes were made.*
- *Load time was also significantly low*

#### Expected behaviour

- *SEO Rating should be range from 90% -1

[2022-10-12 19:42] RealRichi3 commented on #129
I would like to take this issue

[2022-10-12 21:25] BatoolMM commented on #12
Thank you for your work so far, if you opened a PR, Please don't close the issue if the PR is note reviewed and merged!

If you closed other issues, please re-open it!

Feel free to review other open PRs, especially if you couldn't work on any of the tasks.

[2022-10-12 22:11] mildrette opened #144 "#Spelling and Grammatical errors on the OSCSA main site"
### Summary
From the About section down to the footer, there are more grammatical errors and wrong spellings.

* Open Science (OS) is a an umbrella term that used to describe movements and practices aimed at increasing the accessibility of scientific knowledge and fostering innovations. In order to demistyfy these principles, we describe briefly six of its core components. *

*   We are taking par

[2022-10-12 22:26] mildrette commented on #12
@BatoolMM  I have a PR, Here is the link (https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA_Website/pull/145) please review. thank you

[2022-10-12 23:49] RealRichi3 opened #146 "[10/13/2022]: Suggestion for quick contact form"
### Summary
Regarding the earlier raised issue #130, i suggest we use a third party email sending service. This would fix the bug highlighted in issue #130 and remove the need of handling the email on a backend API.
A good example of this email sending service is [formspree](https://formspree.io)

### What needs to be done?
- [ ] *Add form spree as third party email sender service*

### Who want t

[2022-10-12 23:57] RealRichi3 commented on #84
I would like to work on this issue

[2022-10-13 07:48] #132 closed

[2022-10-13 08:04] mildrette commented on #144
Thank You @BatoolMM. I have already opened a PR for Fix #144

[2022-10-13 10:14] ladyami commented on #77
@AminMusah  please open a issue and submit a pr for it

[2022-10-13 10:20] Teslimsama commented on #28
Are you done

[2022-10-13 10:24] kuicpet commented on #28
this has been done, PR awaiting review @Teslimsama

[2022-10-13 10:26] Teslimsama commented on #28
Ok

[2022-10-13 10:35] BatoolMM commented on #28
@Teslimsama Feel free to review the PR #80 and #69, if you want!

[2022-10-13 12:20] Teslimsama commented on #80
@BatoolMM @sandygudie  I already fixed the issue of the fuders image you can check it out <a href="https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA_Website/pull/109#issue-1404095955">here</a>

[2022-10-13 12:22] Teslimsama commented on #69
Has this been done @BatoolMM @timokonkwo

[2022-10-13 13:00] AminMusah opened #151 "Feature: faqs.text file contaning Questions and Answers to fill the FAQs section."
Summary
Regarding the earlier raised issue #77 , i suggested i would provide Questions and Answers to fill the FAQs section.

What needs to be done?
 Create a faqs.text file contaning Questions and Answers to fill the FAQs section.

Who would like to work on this issue?
I would like to take on this task.Thank you.

[2022-10-13 13:29] Jolah1 opened #152 "Broken/Incorrect link on the landing page"
### Description
Broken or  incorrect link on the landing page (why join our community) section
Link is returning error 404.

#### Expected behaviour
Onclick the "ArabR" it is expected to take us to the community website as the other links in the section did.

#### Actual behaviour
Link is returning error 404 and and the link there is a github repo of the community instead of the website of the com

[2022-10-13 13:30] Jolah1 commented on #152
@BatoolMM, currently working on this issue.

[2022-10-13 14:01] Jolah1 commented on #152
@BatoolMM ,
Issue resolved, awaiting your approval.
Thank You.

[2022-10-13 15:12] jesutobi opened #157 "[10/13/2022]: ISSUE - would like to improve the web accessibility of the site"
@BatoolMM @alswajiab would like to improve the web accesibility of OSCSA website, this would help people with disability to use the platform with ease

i would be working on adding tooltip  to various call to actions or buttons in the site , this would help web assitive technologies e.g screen reader

i would also be adding short descriptions to alt attributes in all image tags  thats found in the

[2022-10-13 15:55] jesutobi commented on #157
i wont be doing the second one "adding description to alt attribute" because another contributor has worked on it

[2022-10-13 16:01] jesutobi commented on #157
@BlueDragn i am also an outreachy applicant ,but here is what is going to happen, we can split it since its two issues i discovered, so you can also have something to work on....i would take the last issue i stated i.e adding labels then you can take the other one i.e adding tooltip...thats fair i guess

[2022-10-13 16:07] BlueDragn commented on #157
@jesutobi ofcourse, No issue.

[2022-10-13 17:41] Etang-ken opened #158 "Homepage hero content not visible enough"
The home page content (specifically hero text and its caption, are not visible enough based on modern UI/UX standards.

![Screenshot 2022-10-13 183221](https://user-images.githubusercontent.com/80832445/195666642-1823c506-a58d-495c-aab4-5bf0d8e463bf.png)

@alswajiab please I will like to work on improving this.

[2022-10-13 20:42] Jolah1 opened #164 "fix broken link in Arabic file see: #154"
Broken/dead link showing error 404 on the Arabic website
See: #154
![photo_2022-10-12_21-44-55](https://user-images.githubusercontent.com/99138852/195706415-aa5cc9f1-d193-4e62-a53e-79cc4bb9b123.jpg)

[2022-10-13 21:04] Jolah1 commented on #164
Issue Fixed.......awaiting review @BatoolMM

[2022-10-14 04:36] JesperKawuma opened #166 "[DATE]: QUESTION or ISSUE"
### What needs to be done?

Changing the **All Material** button to green
### Who want to work on this issue?

 I want to work on this issue

[2022-10-14 05:56] JesperKawuma opened #168 "[14/10/2022]: Fixing "UNESCO Recommendation on Open Science" section alignment on mobile"
#### Which task do you want to work on?
 The UNESCO Recommendation on Open Science on mobile view needs to be column for well alignment

[Screencast from 10-14-2022 08:54:39 AM.webm](https://user-images.githubusercontent.com/115392523/195772690-ea3bf533-fe5e-4d1c-a3f1-74bddf049e77.webm)

### Who want to work on this issue?
 I am working on this issue

[2022-10-14 06:54] yinkabasit commented on #12
Hello, how can I join the team working on task 4.
I also found task 5 interesting but I don't know where to start from . I need some help please.

[2022-10-14 09:42] BatoolMM commented on #12
Welcome @yinkabasit, if you would like to work on task 4. There are a number of open issues
(for example, Open-Science-Community-Saudi-Arabia/MOOCs#2 or Open-Science-Community-Saudi-Arabia/MOOCs#10 ) which you can join by commenting on the issue and asking the team members if you can do certain tasks there.

In terms of task 5, this was addressed in Open-Science-Community-Saudi-Arabia/OSCSA-en-blo

[2022-10-14 10:21] ladyami commented on #12
@BatoolMM I am having a problem creating the MOOCS in OSCSA so I created the project separately can I Transfer the code to OSCSA GitHub Instead?

[2022-10-14 10:38] BatoolMM commented on #12
@ladyami where did you create it, can you provide a link? We recommend using PRs in open source projects!

[2022-10-14 11:03] ladyami commented on #12
yes a github repo

[2022-10-14 11:35] oluwatunbi commented on #12
Hello @BatoolMM please where is the link to the meeting

[2022-10-14 12:07] sandygudie commented on #12
There is no meeting till Tuesday

[2022-10-14 15:52] alswajiab opened #172 "Outreachy Task 1 Progress"
### Task 1 : Subpages

*Your task is to create a single subpage for one of the following topics:*
- [ ] 1. OPEN SOURCE
- [ ] 2. OPEN LICENSE
- [ ] 3. OPEN HARDWARE
- [ ] 4. FAIR PRINCIPLES → [Subpages for FAIR Principle #30 ](https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA_Website/pull/30)
- [ ] 5. OPEN EDUCATIONAL RESOURCES
- [ ] 6. OPEN ACCESS

*Each subpage should include the follo

[2022-10-15 01:19] JesperKawuma commented on #172
Thanks @alswajiab for this. Does this mean that part 6 is the available to work on?

[2022-10-15 05:51] alswajiab commented on #172
Yes, @JesperKawudo, If you would like to take this part, Please open a new issue to let everyone know you are working on this part.

Good luck.

[2022-10-15 09:00] RealRichi3 commented on #172
@alswajiab i would like to work on task 6

[2022-10-15 09:13] mildrette commented on #172
@alswajiab please assign me to part 6 (OPEN ACCESS) if no one is working on it, please

[2022-10-15 17:26] JesperKawuma commented on #172
So @alswajiab, what this means is that one should research about **open access** then make a summary about the latter plus other relevant sources. Is this what you guys meant?

[2022-10-15 18:20] kamzzy commented on #122
@oEbuka i would like to  work on this, can you assign it to me

[2022-10-15 18:42] alswajiab commented on #172
Thank you, @RealRichi3 and @mildrette, for your interest to contribute. We will go through the tasks and let you know if more tasks are available.

[2022-10-15 19:08] JesperKawuma commented on #172
We are available, Sir.

[2022-10-15 19:11] mildrette commented on #172
okay thank you very much

[2022-10-15 20:34] GuddyTech commented on #166
@BatoolMM @alswajiab can  pick up this task?

[2022-10-15 20:35] GuddyTech commented on #166
@BatoolMM @alswajiab I am an Outreachy student. Can I take up this task?

[2022-10-15 20:49] GuddyTech commented on #172
@RealRichi3 and @mildrette can I also collaborate with you guys to complete this task?

[2022-10-15 20:52] GuddyTech commented on #144
@BatoolMM can I join @mildrette to fix this issue

[2022-10-15 20:52] GuddyTech commented on #144
@mildrette can I collaborate with you to do this task?

[2022-10-15 21:04] GuddyTech commented on #93
Good day. I can work on the website content

[2022-10-15 21:06] GuddyTech commented on #158
Hello @alswajiab Can I take up this task? @Etang-ken I can collaborate with you if that is fine by you. Thanks

[2022-10-15 21:23] Etang-ken commented on #158
@GuddyTech Still waiting to be assigned the task

[2022-10-16 10:36] okerekechinweotito opened #177 "[16/10/2022]: Add OPEN ACCESS subpage and its content"
#### Which task do you want to work on?

- [ ] *Task 1.6* -  OPEN ACCESS subpage

#### Expected behaviour

✅ There should be an OPEN ACCESS subpage with relevant content
✅ The OPEN ACCESS subpage should have an Arabic Equivalent

#### Actual behaviour

❌ There is no OPEN ACCESS subpage
❌ OPEN ACCESS subpage does not have an Arabic Equivalent

### What needs to be done?

✅ Add OPEN ACCESS subpage w

[2022-10-16 11:15] okerekechinweotito commented on #172
@alswajiab  I can see that task 1.6 (OPEN ACCESS) has not been done.  I have created an issue for it here #177 and I have also made a PR for it here #178 .   Please Review and Link my PR to Task 6 above.  Thank you

[2022-10-16 19:22] Rubadel commented on #12
Hello, I am intresting to work on this project, I already sent comment for contributor on task 4, 5 and 6 to be with team for task.. It is right way to start?, or there is another thing to do to contribute .. I need some help please.

[2022-10-16 21:46] sandygudie commented on #172
@alswajiab i will take on task 3, i will open an issue on it

[2022-10-16 21:59] sandygudie opened #179 "[16/10/2022]: Task3.1: Add event subpage link to the nav bar."
### Problem Statement: Tasks 3
We need to add an events subpage where we can link our events in [Zenodo](https://zenodo.org/communities/1231231664/?page=1&size=20).
 1. Add this to the nav bar.
 2. Add three cards with each event, title, name of the speaker, and language.
 3. Each card should direct you to a subpage with a description of the event, speaker, language and a link to the slides from Z

[2022-10-17 08:29] Nuel-Eneji opened #181 "[17/10/2022]: Duplicate ID"
### Summary
The ID for two sections is the same (contact).
The ID for the contact section is the same as the ID for the funders section (contact).
Because they share the same ID, the page scrolls to the Funders section when "Contact" is clicked on the navigation menu.

### What needs to be done?

- [ ] *The section ID for Funders has to be modified.*

### Who want to work on this issue?
This is so

[2022-10-17 08:49] kamzzy commented on #181
@Nuel-Eneji I would like to work on it

[2022-10-17 11:52] jesutobi commented on #172
@alswajiab Goodmorning, can several persons work on one issue, because the task you listed here have been taken by other contributors,

[2022-10-17 12:22] Tammy-Ajoko opened #183 "[17/10/2022]: Fixed missing hamburger menu"
#### Which task do you want to work on?

- [ ] *Task 1*
- [ ] *Task 2*
- [ ] *Task 3*
- [ ] *Task 4*
- [ ] *Task 5*
- [ ] *Task 6*
- [x] *Unlisted Task*

#### Expected behaviour

- *A hamburger menu on Arabic mobile view.*
- *A drop-down menu on mobile view in Arabic on the main website.*
- *Translate back to English.*

#### Actual behaviour

- *No hamburger menu icon.*
-  *Can't translate to Engl

[2022-10-17 13:24] Tammy-Ajoko opened #184 "[17/10/2022]:ISSUE WITH ARABIC MOBILE VIEW"
### Summary

- *Drop-down menu missing in Arabic mobile view.*
- *Hamburger menu icon missing in Arabic mobile view.*
- *Unable to translate back to English once in Arabic mobile view.*

### What needs to be done?

- *The missing hamburger menu needs to be inserted.*

### Who want to work on this issue?
*I would like to work on this.*

[2022-10-17 13:38] #184 closed

[2022-10-17 13:43] Tammy-Ajoko commented on #12
I just made a PR
https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA_Website/pull/185

[2022-10-17 14:23] sandygudie commented on #172
@adetyaz  yeah sure

[2022-10-17 15:01] adetyaz commented on #172
Thanks @sandygudie I'll work on Task 3.2

[2022-10-17 15:30] adetyaz commented on #172
What of task 3.3

[2022-10-17 15:37] adetyaz commented on #172
Okies,
on my own end what i'll do is do 3.2 in order to get to the 3.3 then when your's have been merged i can just pull then push 3.3.

It also depends on if you're making a pr for 3.2

[2022-10-18 01:08] sandygudie opened #186 "[18/10/2022]Task3.2 : Added Event cards"
### Problem Statement: Tasks 3
We need to add an events subpage where we can link our events in [Zenodo](https://zenodo.org/communities/1231231664/?page=1&size=20).
 1. Add this to the nav bar.
 2. Add three cards with each event, title, name of the speaker, and language.
 3. Each card should direct you to a subpage with a description of the event, speaker, language and a link to the slides from Z

[2022-10-18 05:38] Tammy-Ajoko commented on #183
@BatoolMM @alswajiab please could you review

[2022-10-18 06:14] ChinatuL commented on #186
Hello @sandygudie. My name is Lucia, one of the outreachy interns and I am interested in working on this task.

[2022-10-18 07:40] adetyaz commented on #172
Alright thanks I'll do the needful and push @sandygudie

[2022-10-18 08:15] okerekechinweotito opened #188 "[18/10/2022]: TASK 3 - Add Event SubPages"
#### Which task do you want to work on?

- [ ] *Task 3.1*
- [ ] *Task 3.2*
- [ ] *Task 3.3*

We need to add an events subpage where we can link our events in [Zenodo](https://zenodo.org/communities/1231231664/?page=1&size=20).

#### Expected behaviour

✅ There should be an Events item on the NavBar
✅ There should be an Events Card with link to subpages
✅ There should be an Events subpage with deta

[2022-10-18 08:22] mildrette commented on #188
I will love to work on it,  thank you

[2022-10-18 08:59] adetyaz commented on #172
I have made a pr for it with, the external links added #189

[2022-10-18 09:39] okerekechinweotito commented on #172
@alswajiab  Task 3 (Events Subpages) has not been completed.  I have created an issue for it here #188 and I have also made a PR for it here #190.   Please Review and Link my PR to Task 3 above.  Thank you

[2022-10-18 09:42] okerekechinweotito commented on #188
@mildrette Although I have already made a PR for it here #190 , You are still welcome to work on the issue. Let me know if you need any help

[2022-10-18 11:01] BatoolMM commented on #183
Thank you @Tammy-Ajoko, this is fantastic, we'll review it soon!

[2022-10-18 11:04] BatoolMM commented on #12
Welcome @Rubadel and @Tammy-Ajoko!

@Rubadel Apologies for the delay, yes, this is the right place to start, did you [fill in the form](https://form.jotform.com/222902545384356)? Let me know if you still confused or you didn't receive a response!

@Tammy-Ajoko Thank you submitting the PR, we are reviewing it.

[2022-10-18 11:05] GuddyTech commented on #172
Please what time is the google meet @sandygudie

[2022-10-18 11:08] Tammy-Ajoko commented on #12
@BatoolMM  I did fill the form but after that it didn't show anything again, I don't know if that's what is supposed to happen or not

[2022-10-18 11:11] GuddyTech commented on #140
@Jolah1 Can I also join you in this task?

[2022-10-18 11:34] mildrette commented on #12
Hey! please can someone help out with the link to the meeting?? please

[2022-10-18 11:38] Tammy-Ajoko commented on #12
@oluwatunbi  @mildrette  https://liverpool-ac-uk.zoom.us/j/93627968243?pwd=OVh5d1IreFRnOVRpNDVXMWRwMmlmZz09

[2022-10-18 12:14] sandygudie commented on #12
I am in the waiting room, please let me in

[2022-10-18 12:48] Jolah1 commented on #140
@GuddyTech i would love to but the issue has already been fixed in #141

Thank You.

[2022-10-18 13:09] Tammy-Ajoko commented on #172
please is this task still open

[2022-10-18 14:27] Trailblazer007 commented on #12
Hello @BatoolMM, @alswajiab and everyone else. I'm Seun from Nigeria and I'm new here. I'd love to be a part of this project.
I'm still finding my way aroud though.

[2022-10-18 15:00] Jolah1 commented on #172
@BatoolMM please can i go ahead with task 2 now? seems people have worked on task 1 already.
Thank You

[2022-10-18 16:07] JesperKawuma commented on #172
Hello @alswajiab is task one already done such that I find myself a new issue to work on

[2022-10-18 17:07] BatoolMM commented on #12
Welcome @Trailblazer007 to OSCSA. Let me know if you have any questions!

For anyone who couldn't join the meeting, this is the [Slides](https://liverpool-ac-uk.zoom.us/j/93627968243?pwd=OVh5d1IreFRnOVRpNDVXMWRwMmlmZz09) we used during the meeting.

Let me know if you have any questions!

[2022-10-18 17:26] Trailblazer007 commented on #12
Thank you so much. I actually missed the meeting.

[2022-10-18 18:13] BatoolMM commented on #12
Thank you for catching this, fixed now!

[2022-10-19 03:51] Cadeau1 commented on #69
I am an outreachy applicant and I will like to fix this issue. Please has this been done?

[2022-10-19 04:21] Cadeau1 commented on #183
Good day. I am an outreachy applicant, and I would like to work on this issue.

[2022-10-19 04:30] Cadeau1 commented on #166
I am an Outreachy applicant. @BatoolMM @alswajiab can I take up this issue?

[2022-10-19 04:33] Cadeau1 commented on #183
@BatoolMM @alswajiab  Please can I work on this issue?

[2022-10-19 08:01] PRO-BROS commented on #33
Yep!

Tag fixing is a skill in itself. I do same for my [website](https://prhocoding.com/)

[2022-10-19 08:03] Tammy-Ajoko commented on #183
@Cadeau1 I'm already working on it

[2022-10-19 08:16] jesutobi commented on #33
okay

[2022-10-19 08:25] jesutobi commented on #29
@BatoolMM  i dont see a pull request on this issue, can i work on it

[2022-10-19 11:32] JesperKawuma opened #192 "[BUG] Fix html tag issues"
### Description

 Fade in on-scroll doesn't work for now because of the wrongly placed HTML tags. Some have been closed where they shouldn't be and this has made the bootstrap fade-in effect not working.
#### Expected behaviour

- When a user scrolls down the website after a refresh, sections should fade-in.
#### Actual behaviour

- Nothing happens on scroll down
### How to reproduce
 - Clone the

[2022-10-19 12:52] AbeerTannous commented on #179
Hi I am Abeer , would like to work on this! if no one is working on it

[2022-10-19 23:15] Cadeau1 commented on #183
Okay

[2022-10-20 00:15] Cadeau1 commented on #29
@BatoolMM Please can I work on this?

[2022-10-20 03:45] jesutobi commented on #29
Task 1,2,3 has been completed

[2022-10-20 15:00] sandygudie opened #195 "[20/10/2022]: Task3:Feat/Added all events page"
### Problem Statement : Task 3
We need to add an events subpage where we can link our events in [Zenodo](https://zenodo.org/communities/1231231664/?page=1&size=20).

- **3.1** Add this to the nav bar
- **3.2** Add three cards with each event, title, name of the speaker, and language.
- **3.3** Each card should direct you to a subpage with a description of the event, speaker, language and a link to

[2022-10-21 12:26] AminMusah opened #197 "Missing alt attribute in some image tags in the OSCSA website"
#### Summary

Some of the image tags used in the website do not have an alt attribute which provides alternative information for an image if a user for some reason cannot view it (because of slow connection, an error in the src attribute, or if the user uses a screen reader).

### What needs to be done?

- [ ] *Add alt attribute in image tags.*

### Who want to work on this issue?
I want to be ass

[2022-10-22 17:40] #142 closed

[2022-10-23 11:45] Nuel-Eneji opened #199 "[23-10-2022]: Place holders in arabic contact form in english"
#### Which task do you want to work on?

- [ ] *Unlisted Task*

#### Expected behaviour

- [ ] *In the contact us page of the website in Arabic, the place-holders for the contact form should also be in Arabic*

#### Actual behaviour

- [ ] *The place-holders for the contact form in the Arabic page is in English ..*

### What needs to be done?

- [ ] *The place-holders need to be translated to Arab

[2022-10-24 00:30] sandygudie opened #200 "[24/10/2022]: Fix Contact form Response Message"
### Problem Description
The contact form error handling and responses is not appropriately displayed

 **Which task do you want to work on?**
Contact Form

**Actual behaviour**
The contact form displays a wrong response
![image](https://user-images.githubusercontent.com/54219127/197425946-babda780-c03d-4243-a523-26a1602d7d38.png)

 **What needs to be done?**
The contact form should displayed the r

[2022-10-24 00:59] #157 closed

[2022-10-24 09:12] #200 closed

[2022-10-24 09:42] sandygudie opened #204 "[24/10/2022]: Social media icon not showing on footer"
### Description
The Social media icon on the footer in the home page is not showing anymore. I traced it to this [PR ](https://github.com/Open-Science-Community-Saudi-Arabia/OSCSA_Website/pull/143/files#diff-0eb547304658805aad788d320f10bf1f292797b5e6d745a3bf617584da017051R54) and observed that that line which is for bootstrap icon was changed

#### Expected behavior
The Social link icon should be

[2022-10-25 02:26] RealRichi3 opened #206 "[25/10/2022]: Missing arrow in `move-to-top` button for english webpage"
The `move to top` button on the english website is supposed to have an arrow icon displaying on it, but it's missing

#### Expected behaviour

- [ ] *White arrow icon should be on `move to top` button in english website*

#### Actual behaviour

- [ ] *Missing white arrow icon should be on `move to top` button in english website*

### How to reproduce
1. Go to https://osc-ksa.com/
2. Scroll down to

[2022-10-25 07:26] denscholar commented on #12
@BatoolMM Can I still make contributions; I was off this project because my laptop crashed and it took me 2 weeks to fix it. I will love to know if I can still contribute. Thank you.

[2022-10-25 09:41] #152 closed

[2022-10-25 09:43] #140 closed

[2022-10-25 10:01] #183 closed

[2022-10-25 10:18] GuddyTech commented on #197
Hello, @BatoolMM please can I join @AminMusah c in taking up this task?

[2022-10-25 10:20] GuddyTech commented on #204
Hello @sandygudie can I take up this task?

[2022-10-25 12:13] okerekechinweotito commented on #12
@BatoolMM will there be another meeting today ?

[2022-10-25 13:00] sandygudie commented on #204
@GuddyTech  It's done already,

[2022-10-25 13:12] GuddyTech commented on #204
Okay, is there any task that hasn't been done please that I can pick up? @sandygudie

[2022-10-25 13:21] GuddyTech commented on #204
Okay, thanks. In case there is any, kindly tag me

[2022-10-25 22:56] BatoolMM commented on #186
@all-contributors please add @sandygudie to infra

[2022-10-26 06:21] ToobaJamal commented on #12
Hi @BatoolMM, what should we write in the Outreachy internship timeline?
![Screenshot 2022-10-26 111127](https://user-images.githubusercontent.com/52610124/197949926-af5f29ad-f910-4902-8792-529aae0eb2d0.png)

[2022-10-26 08:32] sandygudie commented on #204
@GuddyTech
There is a typo error here
you can raise an issue and fix it
![image](https://user-images.githubusercontent.com/54219127/197975957-0dbad47b-9b45-4cfd-becb-194c3d4819fc.png)

[2022-10-26 08:46] ladyami commented on #12
@ToobaJamal please how do you find the timeline page? I have been looking for it but I can not find it.

[2022-10-26 08:51] ladyami commented on #12
@BatoolMM please can you give a list of ideas for final projects we can do for OSCSA since we are unable to get to the OSCSA public chat room most of us here don't know about the community well to be able to know what project the community might need.

[2022-10-26 12:42] GuddyTech commented on #204
Okay, thanks, I'm on it ASAP

[2022-10-26 13:18] GuddyTech opened #215 "26/10/22 There is a typo error on the OPEN SCIENCE page"
#### Correcting the typo error on the OPEN SOURCE page
![1](https://user-images.githubusercontent.com/112786412/198034800-dc7f8f44-563c-49ce-9439-bc48dd8117c6.jpg)
![2](https://user-images.githubusercontent.com/112786412/198034854-4975a19e-2cbb-4a56-b54e-c05f5bdad2ea.jpg)
]](https://osc-ksa.com/)

### @sandygudie @alswajiab @BatoolMM I want to take up this task to make all necessary corrections

!

[2022-10-26 13:21] GuddyTech commented on #215
Hello @BatoolMM @alswajiab @sandygudie I am an outreachy student and I would love to take up this task in order to make all necessary corrections. Thanks

[2022-10-26 13:53] ToobaJamal commented on #12
@ladyami it's in the final application form. On the same page where you recorded your contributions

[2022-10-26 14:29] sandygudie commented on #215
@GuddyTech go ahead and solve it

[2022-10-26 15:54] Tammy-Ajoko opened #216 "[26/10/2022]: Translate the Contact Us input field placeholders in ar-index.html to Arabic"
### Summary

*Translate the Contact Us input field placeholders in ar-index.html to Arabic*

### What needs to be done?

- [x] *Translate the placeholders from English to Arabic*
- [x] *Replace English placeholders with the Arabic translation.*

### Who want to work on this issue?
- I would like to work on this

@BatoolMM

[2022-10-27 03:05] #215 closed

[2022-10-27 12:33] adetyaz opened #220 "[21-10-2022]: Improve accessibility on the website."
## Description:
Improving the accessibility on the website by using accessibility tools to find problems that can be improved

## Problem Statement
Using https://wave.webaim.org/ to evaluate accessibility, the results showed that there are still errors that can be improved to provide optimum level accessibility

## Screenshot of result

![accessibilty evaluation](https://user-images.githubusercont

[2022-11-01 13:21] ydv-sahitya opened #223 "removeing TODO from readme"
### Summary

I am improving the readme file.

*Lorem ipsum dolor sit amet, consectetur adipiscing.*

### What needs to be done?

- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*
- [ ] *Lorem ipsum dolor sit amet, consectetur adipiscing.*

### Who want to work on this issue?

[2022-11-03 17:41] BatoolMM commented on #12
Thank you all for your contributions so far. Don't worry if your PR isn't merged yet, still don't forget to add your contributions to Outreachy. In terms of the timeline, feel free to submit your your own timeline, this will not be taken into account during the selection process in OSCSA.

@ladyami In terms of what the project, the selected intern will work on is the same as the tasks description.

[2022-11-03 18:46] RealRichi3 commented on #12
@BatoolMM thanks, i really appreciate it.
One question tho, for the coaching on how to highlight contributions on my resume, how will you go about it, will there be zoom session or something like that?

[2022-11-03 19:05] BatoolMM commented on #12
In terms of coaching on how to highlight contributions on your resume, we are happy to offer 1-2-1 coaching, where you can send your resume to training@openscisaudi.com - we will then provide feedback, either written or in an online session.

[2022-11-03 19:16] angemaggy commented on #12
Hello @BatoolMM please what am I supposed to do to have my profile too in the contribution section of the readme ? I did a pull request which is not yet reviewed for the second time (It has been reviewed once and I brought what have been requesting for). could the reason can be the fact my pr have not been merged ?

[2022-11-03 19:32] BatoolMM commented on #12
@angemaggy, your contribution is added to the README - I also reviewed your PR #32.

[2022-11-03 19:41] angemaggy commented on #12
Thank you very much @BatoolMM

[2022-11-07 21:41] #186 closed

[2022-11-07 22:19] jesutobi commented on #125
Good day @BatoolMM i would like to translate the contribution.md file to Arabic also, i dont know if it would be needed

[2022-11-08 08:11] ladyami commented on #12
hello @BatoolMM ma I am sorry for the late reply I was sick please how do I continue to contribute?

[2022-11-29 09:53] mildrette opened #228 "29-11-2022: Missing socail media icon on footer and missing back-to-top arrow"
### The social media icons on the English version of the webpage are missing and the back-to-top button is missing the arrow icon too.

### What needs to be done?

- [ ] *Fixed the missing icons on the English version of the page.*